<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号密码备忘</title>
    <script src="./jquery.js"></script>
    <script src="./vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./main.css"/>
</head>
<body id="teal" :style="{background: bgStyle}" :class="[this.currentTheme==1? 'overall' : '']">
    <h1><span>WARNNING:</span>&nbsp;这是魏天尧网上注册的账号密码备忘，其他人请自觉关闭网页!</h1>
    <div class="bg">
        <div class="bg-theme">
            <span>主题背景：</span>
            <button @click="prevTheme">&lt;</button>
            <button @click="nextTheme">&gt;</button>
        </div>
        <div class="reset">
            <span>一键重置：</span>
            <button title="会重置主题和颜色以及登录信息" @click="reset">重置</button>
        </div>
        <div class="bg-color f-cb" v-show="currentTheme==1">
            <span>主题颜色：</span>
            <i style="background-color: #3FDCDC" @click="currentColor='#3FDCDC'"></i>
            <i style="background-color: #8BACBF" @click="currentColor='#8BACBF'"></i>
            <i style="background-color: #BF9E65" @click="currentColor='#BF9E65'"></i>
            <i style="background-color: #13BF7A" @click="currentColor='#13BF7A'"></i>
            <i style="background-color: #35BABF" @click="currentColor='#35BABF'"></i>
            <i style="background-color: #BF80A6" @click="currentColor='#BF80A6'"></i>
        </div>
    </div>
    <div v-show="!isLogin" class="login f-cb">
        <label for="login_input">请输入登录密码：</label>
        <input type="password" id="login_input" v-model="content" @keydown.enter="submit">
        <button @click="submit">Go!</button>
    </div>
    <div v-else class="main f-cb">
        <a class="cell" target="_blank" href="{{ website.href }}" v-for="website in websites">
            <img class="cell-img" src='{{ website.profile }}' alt="">
            <span>{{ website.name }}</span>
            <ul class="hide">
              <li><span>账户：</span>{{ website.account }}</li>
              <li><span>密码：</span>{{ website.password }}</li>
            </ul>
        </a>
    </div>
    <script src="./main.js"></script>
</body>
</html>